* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

div {
  border: solid 1px white;
}

#container {
  display: grid;
  width: 1200px;
  grid-template-columns: 800px 400px;
  margin: 0 auto;
}


#rightPane {
  display: grid;
  grid-template-rows: 2fr 4fr 1fr;
}

#gameArea {
  height: 800px;
  width: 800px;
}
